<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comma</key>
	<dict>
		<key>jcircumflex</key>
		<integer>-5</integer>
		<key>jdotless</key>
		<integer>-5</integer>
	</dict>
	<key>iacute</key>
	<dict>
		<key>ibreve</key>
		<integer>40</integer>
		<key>idblgrave</key>
		<integer>30</integer>
		<key>idieresis</key>
		<integer>20</integer>
		<key>iinvertedbreve</key>
		<integer>30</integer>
		<key>itilde</key>
		<integer>60</integer>
		<key>question</key>
		<integer>19</integer>
	</dict>
	<key>ibreve</key>
	<dict>
		<key>ibreve</key>
		<integer>40</integer>
		<key>icircumflex</key>
		<integer>30</integer>
		<key>idblgrave</key>
		<integer>50</integer>
		<key>idieresis</key>
		<integer>60</integer>
		<key>idieresisacute</key>
		<integer>50</integer>
		<key>igrave</key>
		<integer>40</integer>
		<key>ihookabove</key>
		<integer>30</integer>
		<key>iinvertedbreve</key>
		<integer>70</integer>
		<key>imacron</key>
		<integer>30</integer>
		<key>itilde</key>
		<integer>90</integer>
		<key>jcircumflex</key>
		<integer>30</integer>
		<key>question</key>
		<integer>70</integer>
	</dict>
	<key>icircumflex</key>
	<dict>
		<key>ibreve</key>
		<integer>30</integer>
		<key>icircumflex</key>
		<integer>20</integer>
		<key>idblgrave</key>
		<integer>20</integer>
		<key>idieresis</key>
		<integer>40</integer>
		<key>idieresisacute</key>
		<integer>60</integer>
		<key>iinvertedbreve</key>
		<integer>30</integer>
		<key>itilde</key>
		<integer>70</integer>
		<key>question</key>
		<integer>59</integer>
	</dict>
	<key>idblgrave</key>
	<dict>
		<key>iinvertedbreve</key>
		<integer>20</integer>
		<key>itilde</key>
		<integer>20</integer>
	</dict>
	<key>idieresis</key>
	<dict>
		<key>ibreve</key>
		<integer>60</integer>
		<key>icircumflex</key>
		<integer>40</integer>
		<key>idblgrave</key>
		<integer>40</integer>
		<key>idieresis</key>
		<integer>50</integer>
		<key>idieresisacute</key>
		<integer>30</integer>
		<key>igrave</key>
		<integer>20</integer>
		<key>iinvertedbreve</key>
		<integer>60</integer>
		<key>imacron</key>
		<integer>80</integer>
		<key>itilde</key>
		<integer>100</integer>
		<key>jcircumflex</key>
		<integer>40</integer>
		<key>question</key>
		<integer>78</integer>
	</dict>
	<key>idieresisacute</key>
	<dict>
		<key>ibreve</key>
		<integer>50</integer>
		<key>icircumflex</key>
		<integer>60</integer>
		<key>idblgrave</key>
		<integer>40</integer>
		<key>idieresis</key>
		<integer>30</integer>
		<key>idieresisacute</key>
		<integer>50</integer>
		<key>igrave</key>
		<integer>40</integer>
		<key>iinvertedbreve</key>
		<integer>70</integer>
		<key>itilde</key>
		<integer>80</integer>
		<key>jcircumflex</key>
		<integer>50</integer>
		<key>question</key>
		<integer>78</integer>
	</dict>
	<key>ihookabove</key>
	<dict>
		<key>ibreve</key>
		<integer>40</integer>
		<key>idblgrave</key>
		<integer>40</integer>
		<key>idieresis</key>
		<integer>30</integer>
		<key>igrave</key>
		<integer>20</integer>
		<key>iinvertedbreve</key>
		<integer>30</integer>
		<key>imacron</key>
		<integer>40</integer>
		<key>itilde</key>
		<integer>60</integer>
	</dict>
	<key>iinvertedbreve</key>
	<dict>
		<key>ibreve</key>
		<integer>60</integer>
		<key>icircumflex</key>
		<integer>30</integer>
		<key>idblgrave</key>
		<integer>50</integer>
		<key>idieresis</key>
		<integer>50</integer>
		<key>idieresisacute</key>
		<integer>60</integer>
		<key>igrave</key>
		<integer>30</integer>
		<key>iinvertedbreve</key>
		<integer>50</integer>
		<key>imacron</key>
		<integer>40</integer>
		<key>itilde</key>
		<integer>60</integer>
		<key>jcircumflex</key>
		<integer>30</integer>
		<key>question</key>
		<integer>91</integer>
	</dict>
	<key>imacron</key>
	<dict>
		<key>ibreve</key>
		<integer>30</integer>
		<key>idblgrave</key>
		<integer>40</integer>
		<key>idieresis</key>
		<integer>80</integer>
		<key>idieresisacute</key>
		<integer>60</integer>
		<key>iinvertedbreve</key>
		<integer>30</integer>
		<key>itilde</key>
		<integer>70</integer>
		<key>question</key>
		<integer>71</integer>
	</dict>
	<key>itilde</key>
	<dict>
		<key>ibreve</key>
		<integer>110</integer>
		<key>icircumflex</key>
		<integer>30</integer>
		<key>idblgrave</key>
		<integer>50</integer>
		<key>idieresis</key>
		<integer>90</integer>
		<key>idieresisacute</key>
		<integer>30</integer>
		<key>igrave</key>
		<integer>50</integer>
		<key>iinvertedbreve</key>
		<integer>40</integer>
		<key>imacron</key>
		<integer>60</integer>
		<key>itilde</key>
		<integer>120</integer>
		<key>jcircumflex</key>
		<integer>60</integer>
		<key>question</key>
		<integer>81</integer>
	</dict>
	<key>jcircumflex</key>
	<dict>
		<key>ibreve</key>
		<integer>30</integer>
		<key>idblgrave</key>
		<integer>30</integer>
		<key>idieresis</key>
		<integer>30</integer>
		<key>idieresisacute</key>
		<integer>50</integer>
		<key>iinvertedbreve</key>
		<integer>40</integer>
		<key>itilde</key>
		<integer>40</integer>
	</dict>
	<key>quotedblbase</key>
	<dict>
		<key>jcircumflex</key>
		<integer>-5</integer>
		<key>jdotless</key>
		<integer>-5</integer>
	</dict>
	<key>quotesinglbase</key>
	<dict>
		<key>jcircumflex</key>
		<integer>-5</integer>
		<key>jdotless</key>
		<integer>-5</integer>
	</dict>
	<key>semicolon</key>
	<dict>
		<key>jcircumflex</key>
		<integer>-5</integer>
		<key>jdotless</key>
		<integer>-5</integer>
	</dict>
</dict>
</plist>
