<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>705</integer>
    <key>capHeight</key>
    <integer>705</integer>
    <key>copyright</key>
    <string>Copyright 2016 The Nunito Project Authors (contact@sansoxygen.com)</string>
    <key>descender</key>
    <integer>-180</integer>
    <key>familyName</key>
    <string>NunitoSans</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>name</key>
        <string> [locked]</string>
        <key>x</key>
        <integer>250</integer>
        <key>y</key>
        <integer>299</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string> [locked]</string>
        <key>x</key>
        <integer>191</integer>
        <key>y</key>
        <integer>-40</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string> [locked]</string>
        <key>x</key>
        <integer>217</integer>
        <key>y</key>
        <integer>550</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>x</key>
        <integer>462</integer>
        <key>y</key>
        <integer>-163</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string> [locked]</string>
        <key>x</key>
        <integer>160</integer>
        <key>y</key>
        <integer>494</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string> [locked]</string>
        <key>x</key>
        <integer>258</integer>
        <key>y</key>
        <integer>765</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string> [locked]</string>
        <key>x</key>
        <integer>232</integer>
        <key>y</key>
        <integer>935</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string> [locked]</string>
        <key>x</key>
        <integer>449</integer>
        <key>y</key>
        <integer>-8</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string> [locked]</string>
        <key>x</key>
        <integer>167</integer>
        <key>y</key>
        <integer>713</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>-556</integer>
        <key>y</key>
        <integer>502</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>163</integer>
        <key>y</key>
        <integer>-188</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>x</key>
        <integer>550</integer>
        <key>y</key>
        <integer>259</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>180</integer>
        <key>x</key>
        <integer>601</integer>
        <key>y</key>
        <integer>547</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>340</integer>
        <key>y</key>
        <integer>484</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>x</key>
        <integer>292</integer>
        <key>y</key>
        <integer>840</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>459</integer>
        <key>y</key>
        <integer>570</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>581</integer>
        <key>y</key>
        <integer>547</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>431</integer>
        <key>y</key>
        <integer>-139</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>310</integer>
        <key>y</key>
        <integer>384</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>367</integer>
        <key>y</key>
        <integer>759</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>-9</integer>
    <key>openTypeGaspRangeRecords</key>
    <array>
      <dict>
        <key>rangeGaspBehavior</key>
        <array>
          <integer>1</integer>
          <integer>3</integer>
        </array>
        <key>rangeMaxPPEM</key>
        <integer>8</integer>
      </dict>
      <dict>
        <key>rangeGaspBehavior</key>
        <array>
          <integer>0</integer>
          <integer>1</integer>
          <integer>2</integer>
        </array>
        <key>rangeMaxPPEM</key>
        <integer>20</integer>
      </dict>
      <dict>
        <key>rangeGaspBehavior</key>
        <array>
          <integer>0</integer>
          <integer>1</integer>
          <integer>2</integer>
          <integer>3</integer>
        </array>
        <key>rangeMaxPPEM</key>
        <integer>65535</integer>
      </dict>
    </array>
    <key>openTypeHeadCreated</key>
    <string>2019/12/16 19:34:42</string>
    <key>openTypeHheaAscender</key>
    <integer>1011</integer>
    <key>openTypeHheaDescender</key>
    <integer>-353</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Vernon Adams</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://www.sansoxygen.com</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Vernon Adams</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://www.sansoxygen.com</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1011</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-353</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1105</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>310</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-20</integer>
      <integer>0</integer>
      <integer>494</integer>
      <integer>514</integer>
      <integer>705</integer>
      <integer>725</integer>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-200</integer>
      <integer>-180</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>49</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>52</integer>
      <integer>53</integer>
      <integer>55</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-80</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>28</integer>
    <key>styleMapFamilyName</key>
    <string>NunitoSans M0 opsz Slanted</string>
    <key>styleMapStyleName</key>
    <string>italic</string>
    <key>styleName</key>
    <string>M0 opsz Slanted Italic</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>2</integer>
    <key>versionMinor</key>
    <integer>504</integer>
    <key>xHeight</key>
    <integer>494</integer>
  </dict>
</plist>
