<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>705</integer>
    <key>capHeight</key>
    <integer>705</integer>
    <key>copyright</key>
    <string>Copyright 2016 The Nunito Project Authors (contact@sansoxygen.com)</string>
    <key>descender</key>
    <integer>-180</integer>
    <key>familyName</key>
    <string>Nunito</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>450</integer>
        <key>y</key>
        <integer>484</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>450</integer>
        <key>y</key>
        <integer>705</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>-9</integer>
    <key>openTypeHeadCreated</key>
    <string>2019/12/16 21:50:44</string>
    <key>openTypeHheaAscender</key>
    <integer>1011</integer>
    <key>openTypeHheaDescender</key>
    <integer>-353</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Vernon Adams</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://www.sansoxygen.com</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Vernon Adams</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://www.sansoxygen.com</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1011</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-353</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1105</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>310</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-20</integer>
      <integer>0</integer>
      <integer>494</integer>
      <integer>514</integer>
      <integer>705</integer>
      <integer>725</integer>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-200</integer>
      <integer>-180</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>109</integer>
      <integer>110</integer>
      <integer>99</integer>
      <integer>96</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>129</integer>
      <integer>134</integer>
      <integer>125</integer>
      <integer>126</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-90</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>60</integer>
    <key>styleMapFamilyName</key>
    <string>Nunito M1000 Slant</string>
    <key>styleMapStyleName</key>
    <string>italic</string>
    <key>styleName</key>
    <string>M1000 Slant Italic</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>2</integer>
    <key>versionMinor</key>
    <integer>505</integer>
    <key>xHeight</key>
    <integer>494</integer>
  </dict>
</plist>
