<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>acute</key>
    <string>acute.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>acutecomb.case</key>
    <string>acutecomb.case.glif</string>
    <key>acutecomb_dotaccentcomb</key>
    <string>acutecomb_dotaccentcomb.glif</string>
    <key>acutecomb_dotaccentcomb.case</key>
    <string>acutecomb_dotaccentcomb.case.glif</string>
    <key>apostrophemod</key>
    <string>apostrophemod.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>brevebelowcomb</key>
    <string>brevebelowcomb.glif</string>
    <key>brevecomb</key>
    <string>brevecomb.glif</string>
    <key>brevecomb-cy</key>
    <string>brevecomb-cy.glif</string>
    <key>brevecomb-cy.case</key>
    <string>brevecomb-cy.case.glif</string>
    <key>brevecomb.case</key>
    <string>brevecomb.case.glif</string>
    <key>brevecomb_acutecomb</key>
    <string>brevecomb_acutecomb.glif</string>
    <key>brevecomb_acutecomb.case</key>
    <string>brevecomb_acutecomb.case.glif</string>
    <key>brevecomb_gravecomb</key>
    <string>brevecomb_gravecomb.glif</string>
    <key>brevecomb_gravecomb.case</key>
    <string>brevecomb_gravecomb.case.glif</string>
    <key>brevecomb_hookabovecomb</key>
    <string>brevecomb_hookabovecomb.glif</string>
    <key>brevecomb_hookabovecomb.case</key>
    <string>brevecomb_hookabovecomb.case.glif</string>
    <key>brevecomb_tildecomb</key>
    <string>brevecomb_tildecomb.glif</string>
    <key>brevecomb_tildecomb.case</key>
    <string>brevecomb_tildecomb.case.glif</string>
    <key>breveinvertedcomb</key>
    <string>breveinvertedcomb.glif</string>
    <key>breveinvertedcomb.case</key>
    <string>breveinvertedcomb.case.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>caron.alt</key>
    <string>caron.alt.glif</string>
    <key>caroncomb</key>
    <string>caroncomb.glif</string>
    <key>caroncomb.alt</key>
    <string>caroncomb.alt.glif</string>
    <key>caroncomb.alt.case</key>
    <string>caroncomb.alt.case.glif</string>
    <key>caroncomb.alt.t</key>
    <string>caroncomb.alt.t.glif</string>
    <key>caroncomb.case</key>
    <string>caroncomb.case.glif</string>
    <key>caroncomb_dotaccentcomb</key>
    <string>caroncomb_dotaccentcomb.glif</string>
    <key>caroncomb_dotaccentcomb.case</key>
    <string>caroncomb_dotaccentcomb.case.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>cedillacomb</key>
    <string>cedillacomb.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>circumflexcomb.case</key>
    <string>circumflexcomb.case.glif</string>
    <key>circumflexcomb_acutecomb</key>
    <string>circumflexcomb_acutecomb.glif</string>
    <key>circumflexcomb_acutecomb.case</key>
    <string>circumflexcomb_acutecomb.case.glif</string>
    <key>circumflexcomb_gravecomb</key>
    <string>circumflexcomb_gravecomb.glif</string>
    <key>circumflexcomb_gravecomb.case</key>
    <string>circumflexcomb_gravecomb.case.glif</string>
    <key>circumflexcomb_hookabovecomb</key>
    <string>circumflexcomb_hookabovecomb.glif</string>
    <key>circumflexcomb_hookabovecomb.case</key>
    <string>circumflexcomb_hookabovecomb.case.glif</string>
    <key>circumflexcomb_tildecomb</key>
    <string>circumflexcomb_tildecomb.glif</string>
    <key>circumflexcomb_tildecomb.case</key>
    <string>circumflexcomb_tildecomb.case.glif</string>
    <key>commaaccentcomb</key>
    <string>commaaccentcomb.glif</string>
    <key>commaaccentcomb.alt</key>
    <string>commaaccentcomb.alt.glif</string>
    <key>commaturnedabovecomb</key>
    <string>commaturnedabovecomb.glif</string>
    <key>commaturnedabovecomb.case</key>
    <string>commaturnedabovecomb.case.glif</string>
    <key>commaturnedmod</key>
    <string>commaturnedmod.glif</string>
    <key>dblgravecomb</key>
    <string>dblgravecomb.glif</string>
    <key>dblgravecomb.case</key>
    <string>dblgravecomb.case.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>dieresisbelowcomb</key>
    <string>dieresisbelowcomb.glif</string>
    <key>dieresiscomb</key>
    <string>dieresiscomb.glif</string>
    <key>dieresiscomb.case</key>
    <string>dieresiscomb.case.glif</string>
    <key>dieresiscomb_acutecomb</key>
    <string>dieresiscomb_acutecomb.glif</string>
    <key>dieresiscomb_acutecomb.case</key>
    <string>dieresiscomb_acutecomb.case.glif</string>
    <key>dieresiscomb_macroncomb</key>
    <string>dieresiscomb_macroncomb.glif</string>
    <key>dieresiscomb_macroncomb.case</key>
    <string>dieresiscomb_macroncomb.case.glif</string>
    <key>dotaccent</key>
    <string>dotaccent.glif</string>
    <key>dotaccentcomb</key>
    <string>dotaccentcomb.glif</string>
    <key>dotaccentcomb.case</key>
    <string>dotaccentcomb.case.glif</string>
    <key>dotaccentcomb.i</key>
    <string>dotaccentcomb.i.glif</string>
    <key>dotaccentcomb_macroncomb</key>
    <string>dotaccentcomb_macroncomb.glif</string>
    <key>dotaccentcomb_macroncomb.case</key>
    <string>dotaccentcomb_macroncomb.case.glif</string>
    <key>dotbelowcomb</key>
    <string>dotbelowcomb.glif</string>
    <key>doubleprimemod</key>
    <string>doubleprimemod.glif</string>
    <key>firsttonechinese</key>
    <string>firsttonechinese.glif</string>
    <key>fourthtofinechinese</key>
    <string>fourthtofinechinese.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>gravecomb.case</key>
    <string>gravecomb.case.glif</string>
    <key>hookabovecomb</key>
    <string>hookabovecomb.glif</string>
    <key>hookabovecomb.case</key>
    <string>hookabovecomb.case.glif</string>
    <key>horncomb</key>
    <string>horncomb.glif</string>
    <key>horncomb.O.case</key>
    <string>horncomb.O_.case.glif</string>
    <key>horncomb.case</key>
    <string>horncomb.case.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>hungarumlautcomb</key>
    <string>hungarumlautcomb.glif</string>
    <key>hungarumlautcomb.case</key>
    <string>hungarumlautcomb.case.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>macronbelowcomb</key>
    <string>macronbelowcomb.glif</string>
    <key>macroncomb</key>
    <string>macroncomb.glif</string>
    <key>macroncomb.case</key>
    <string>macroncomb.case.glif</string>
    <key>macroncomb_acutecomb</key>
    <string>macroncomb_acutecomb.glif</string>
    <key>macroncomb_acutecomb.case</key>
    <string>macroncomb_acutecomb.case.glif</string>
    <key>macroncomb_dieresiscomb</key>
    <string>macroncomb_dieresiscomb.glif</string>
    <key>macroncomb_dieresiscomb.case</key>
    <string>macroncomb_dieresiscomb.case.glif</string>
    <key>macroncomb_gravecomb</key>
    <string>macroncomb_gravecomb.glif</string>
    <key>macroncomb_gravecomb.case</key>
    <string>macroncomb_gravecomb.case.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>ogonekcomb</key>
    <string>ogonekcomb.glif</string>
    <key>primemod</key>
    <string>primemod.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>ringcomb</key>
    <string>ringcomb.glif</string>
    <key>ringcomb.case</key>
    <string>ringcomb.case.glif</string>
    <key>ringcomb_acutecomb</key>
    <string>ringcomb_acutecomb.glif</string>
    <key>ringcomb_acutecomb.case</key>
    <string>ringcomb_acutecomb.case.glif</string>
    <key>ringhalfleft</key>
    <string>ringhalfleft.glif</string>
    <key>ringhalfleft.case</key>
    <string>ringhalfleft.case.glif</string>
    <key>ringhalfright</key>
    <string>ringhalfright.glif</string>
    <key>ringhalfright.case</key>
    <string>ringhalfright.case.glif</string>
    <key>secondtonechinese</key>
    <string>secondtonechinese.glif</string>
    <key>slashlongcomb</key>
    <string>slashlongcomb.glif</string>
    <key>slashlongcomb.case</key>
    <string>slashlongcomb.case.glif</string>
    <key>slashshortcomb</key>
    <string>slashshortcomb.glif</string>
    <key>slashshortcomb.case</key>
    <string>slashshortcomb.case.glif</string>
    <key>strokelongcomb.case</key>
    <string>strokelongcomb.case.glif</string>
    <key>strokeshortcomb</key>
    <string>strokeshortcomb.glif</string>
    <key>strokeshortcomb.case</key>
    <string>strokeshortcomb.case.glif</string>
    <key>strokeshortcomb.cy</key>
    <string>strokeshortcomb.cy.glif</string>
    <key>strokeshortcomb.t</key>
    <string>strokeshortcomb.t.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>tildecomb.case</key>
    <string>tildecomb.case.glif</string>
    <key>tildecomb.case.O</key>
    <string>tildecomb.case.O_.glif</string>
    <key>tildecomb.o</key>
    <string>tildecomb.o.glif</string>
    <key>tildecomb_acutecomb</key>
    <string>tildecomb_acutecomb.glif</string>
    <key>tildecomb_acutecomb.case</key>
    <string>tildecomb_acutecomb.case.glif</string>
    <key>tildecomb_dieresiscomb</key>
    <string>tildecomb_dieresiscomb.glif</string>
    <key>tildecomb_dieresiscomb.case</key>
    <string>tildecomb_dieresiscomb.case.glif</string>
    <key>tildecomb_macroncomb</key>
    <string>tildecomb_macroncomb.glif</string>
    <key>tildecomb_macroncomb.case</key>
    <string>tildecomb_macroncomb.case.glif</string>
    <key>verticallinemod</key>
    <string>verticallinemod.glif</string>
  </dict>
</plist>
