<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>705</integer>
	<key>capHeight</key>
	<integer>705</integer>
	<key>copyright</key>
	<string>Copyright 2016 The Nunito Project Authors (contact@sansoxygen.com)</string>
	<key>descender</key>
	<integer>-180</integer>
	<key>familyName</key>
	<string>Nunito Sans Base ufo2</string>
	<key>note</key>
	<string>Overshoot ExtraLight = 8
Overshoot Heavy = 12
</string>
	<key>openTypeHeadCreated</key>
	<string>2017/12/19 12:16:26</string>
	<key>openTypeHheaAscender</key>
	<integer>1011</integer>
	<key>openTypeHheaDescender</key>
	<integer>-353</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameDesigner</key>
	<string>Vernon Adams</string>
	<key>openTypeNameDesignerURL</key>
	<string>http://www.sansoxygen.com</string>
	<key>openTypeNameManufacturer</key>
	<string>Vernon Adams</string>
	<key>openTypeNameManufacturerURL</key>
	<string>http://www.sansoxygen.com</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Nunito Sans Base ufo2</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>ExtraLight</string>
	<key>openTypeOS2Type</key>
	<array>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>1011</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-353</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2WeightClass</key>
	<integer>275</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>1105</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>310</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-20</integer>
		<integer>0</integer>
		<integer>484</integer>
		<integer>504</integer>
		<integer>705</integer>
		<integer>725</integer>
	</array>
	<key>postscriptFontName</key>
	<string>NunitoSansBaseufo2-ExtraLight</string>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-200</integer>
		<integer>-180</integer>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-80</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>28</integer>
	<key>styleMapFamilyName</key>
	<string>Nunito Sans Base ufo2 ExLight</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>ExtraLight</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>2</integer>
	<key>versionMinor</key>
	<integer>502</integer>
	<key>xHeight</key>
	<integer>484</integer>
</dict>
</plist>
