<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>705</integer>
    <key>capHeight</key>
    <integer>705</integer>
    <key>copyright</key>
    <string>Copyright 2016 The Nunito Project Authors (contact@sansoxygen.com)</string>
    <key>descender</key>
    <integer>-180</integer>
    <key>familyName</key>
    <string>NunitoSans</string>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeGaspRangeRecords</key>
    <array>
      <dict>
        <key>rangeGaspBehavior</key>
        <array>
          <integer>1</integer>
          <integer>3</integer>
        </array>
        <key>rangeMaxPPEM</key>
        <integer>8</integer>
      </dict>
      <dict>
        <key>rangeGaspBehavior</key>
        <array>
          <integer>0</integer>
          <integer>1</integer>
          <integer>2</integer>
        </array>
        <key>rangeMaxPPEM</key>
        <integer>20</integer>
      </dict>
      <dict>
        <key>rangeGaspBehavior</key>
        <array>
          <integer>0</integer>
          <integer>1</integer>
          <integer>2</integer>
          <integer>3</integer>
        </array>
        <key>rangeMaxPPEM</key>
        <integer>65535</integer>
      </dict>
    </array>
    <key>openTypeHeadCreated</key>
    <string>2019/12/16 19:34:42</string>
    <key>openTypeHheaAscender</key>
    <integer>1011</integer>
    <key>openTypeHheaDescender</key>
    <integer>-353</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Vernon Adams</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://www.sansoxygen.com</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Vernon Adams</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://www.sansoxygen.com</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1011</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-353</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2WeightClass</key>
    <integer>600</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1105</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>310</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-20</integer>
      <integer>0</integer>
      <real>500.3975903614458</real>
      <real>520.3975903614459</real>
      <integer>705</integer>
      <integer>725</integer>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-200</integer>
      <integer>-180</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <real>88.75903614457832</real>
      <real>90.04819277108433</real>
      <real>81.65060240963855</real>
      <real>79.51807228915662</real>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <real>103.13253012048193</real>
      <real>108.26506024096385</real>
      <integer>101</integer>
      <integer>102</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <real>-83.55421686746988</real>
    <key>postscriptUnderlineThickness</key>
    <real>39.373493975903614</real>
    <key>styleMapFamilyName</key>
    <string>NunitoSans Opsz SemiBold</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Opsz SemiBold</string>
    <key>unitsPerEm</key>
    <real>1000.0</real>
    <key>versionMajor</key>
    <integer>2</integer>
    <key>versionMinor</key>
    <integer>504</integer>
    <key>xHeight</key>
    <real>500.3975903614458</real>
  </dict>
</plist>
