<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comma</key>
	<dict>
		<key>j</key>
		<integer>40</integer>
		<key>jcircumflex</key>
		<integer>40</integer>
		<key>jdotless</key>
		<integer>40</integer>
	</dict>
	<key>iacute</key>
	<dict>
		<key>ibreve</key>
		<integer>20</integer>
		<key>icircumflex</key>
		<integer>30</integer>
		<key>idblgrave</key>
		<integer>20</integer>
		<key>idieresis</key>
		<integer>40</integer>
		<key>idieresisacute</key>
		<integer>30</integer>
		<key>iinvertedbreve</key>
		<integer>50</integer>
		<key>imacron</key>
		<integer>10</integer>
		<key>itilde</key>
		<integer>90</integer>
		<key>jcircumflex</key>
		<integer>30</integer>
		<key>question</key>
		<integer>30</integer>
	</dict>
	<key>ibreve</key>
	<dict>
		<key>icircumflex</key>
		<integer>40</integer>
		<key>idblgrave</key>
		<integer>50</integer>
		<key>idieresis</key>
		<integer>60</integer>
		<key>idieresisacute</key>
		<integer>50</integer>
		<key>ihookabove</key>
		<integer>30</integer>
		<key>iinvertedbreve</key>
		<integer>30</integer>
		<key>itilde</key>
		<integer>30</integer>
		<key>jcircumflex</key>
		<integer>40</integer>
		<key>question</key>
		<integer>30</integer>
	</dict>
	<key>icircumflex</key>
	<dict>
		<key>ibreve</key>
		<integer>40</integer>
		<key>icircumflex</key>
		<integer>10</integer>
		<key>idblgrave</key>
		<integer>80</integer>
		<key>idieresis</key>
		<integer>30</integer>
		<key>igrave</key>
		<integer>30</integer>
		<key>question</key>
		<integer>50</integer>
	</dict>
	<key>idblgrave</key>
	<dict>
		<key>ibreve</key>
		<integer>30</integer>
		<key>idblgrave</key>
		<integer>60</integer>
		<key>idieresis</key>
		<integer>10</integer>
	</dict>
	<key>idieresis</key>
	<dict>
		<key>ibreve</key>
		<integer>60</integer>
		<key>icircumflex</key>
		<integer>30</integer>
		<key>idblgrave</key>
		<integer>30</integer>
		<key>idotaccent</key>
		<integer>30</integer>
		<key>idotbelow</key>
		<integer>40</integer>
		<key>jcircumflex</key>
		<integer>30</integer>
		<key>question</key>
		<integer>50</integer>
	</dict>
	<key>idieresisacute</key>
	<dict>
		<key>ibreve</key>
		<integer>50</integer>
		<key>idieresisacute</key>
		<integer>120</integer>
		<key>idotbelow</key>
		<integer>30</integer>
		<key>question</key>
		<integer>50</integer>
	</dict>
	<key>idotaccent</key>
	<dict>
		<key>idieresis</key>
		<integer>20</integer>
	</dict>
	<key>idotbelow</key>
	<dict>
		<key>idieresis</key>
		<integer>30</integer>
		<key>idieresisacute</key>
		<integer>30</integer>
	</dict>
	<key>ihookabove</key>
	<dict>
		<key>ibreve</key>
		<integer>30</integer>
	</dict>
	<key>iinvertedbreve</key>
	<dict>
		<key>ibreve</key>
		<integer>30</integer>
		<key>igrave</key>
		<integer>40</integer>
		<key>question</key>
		<integer>60</integer>
	</dict>
	<key>imacron</key>
	<dict>
		<key>question</key>
		<integer>40</integer>
	</dict>
	<key>itilde</key>
	<dict>
		<key>ibreve</key>
		<integer>30</integer>
		<key>itilde</key>
		<integer>50</integer>
		<key>jcircumflex</key>
		<integer>20</integer>
		<key>question</key>
		<integer>30</integer>
	</dict>
	<key>jcircumflex</key>
	<dict>
		<key>ibreve</key>
		<integer>40</integer>
		<key>idblgrave</key>
		<integer>70</integer>
		<key>idieresis</key>
		<integer>40</integer>
	</dict>
	<key>quotedblbase</key>
	<dict>
		<key>j</key>
		<integer>40</integer>
		<key>jcircumflex</key>
		<integer>40</integer>
		<key>jdotless</key>
		<integer>40</integer>
	</dict>
	<key>quotesinglbase</key>
	<dict>
		<key>j</key>
		<integer>40</integer>
		<key>jcircumflex</key>
		<integer>40</integer>
		<key>jdotless</key>
		<integer>40</integer>
	</dict>
	<key>semicolon</key>
	<dict>
		<key>j</key>
		<integer>40</integer>
		<key>jcircumflex</key>
		<integer>40</integer>
		<key>jdotless</key>
		<integer>40</integer>
	</dict>
</dict>
</plist>
