<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>Bhook</key>
    <string>B_hook.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>Cheabkhasian-cy</key>
    <string>C_heabkhasian-cy.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>Elhook-cy</key>
    <string>E_lhook-cy.glif</string>
    <key>EnLeftHook-cy</key>
    <string>E_nL_eftH_ook-cy.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Enhook-cy</key>
    <string>E_nhook-cy.glif</string>
    <key>Eogonek</key>
    <string>E_ogonek.glif</string>
    <key>Ertick-cy</key>
    <string>E_rtick-cy.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>Haabkhasian-cy</key>
    <string>H_aabkhasian-cy.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I_J.loclNLD</key>
    <string>I__J_.loclN_L_D_.glif</string>
    <key>Iogonek</key>
    <string>I_ogonek.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>Kahook-cy</key>
    <string>K_ahook-cy.glif</string>
    <key>Kaverticalstroke-cy</key>
    <string>K_averticalstroke-cy.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>Lcaron</key>
    <string>L_caron.glif</string>
    <key>Ldot</key>
    <string>L_dot.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>Nje-cy</key>
    <string>N_je-cy.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Ohorn</key>
    <string>O_horn.glif</string>
    <key>Oogonek</key>
    <string>O_ogonek.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>Reversedze-cy</key>
    <string>R_eversedze-cy.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>Semisoftsign-cy</key>
    <string>S_emisoftsign-cy.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>Tbar</key>
    <string>T_bar.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>Uhorn</key>
    <string>U_horn.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Yeru-cy</key>
    <string>Y_eru-cy.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>cheabkhasian-cy</key>
    <string>cheabkhasian-cy.glif</string>
    <key>dzeabkhasian-cy</key>
    <string>dzeabkhasian-cy.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e-cy</key>
    <string>e-cy.glif</string>
    <key>eight.dnom</key>
    <string>eight.dnom.glif</string>
    <key>em-cy</key>
    <string>em-cy.glif</string>
    <key>ereversed-cy</key>
    <string>ereversed-cy.glif</string>
    <key>ertick-cy</key>
    <string>ertick-cy.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.dnom</key>
    <string>five.dnom.glif</string>
    <key>five.tosf</key>
    <string>five.tosf.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>gstroke</key>
    <string>gstroke.glif</string>
    <key>hahook-cy</key>
    <string>hahook-cy.glif</string>
    <key>jdotless</key>
    <string>jdotless.glif</string>
    <key>ka-cy</key>
    <string>ka-cy.glif</string>
    <key>kabashkir-cy</key>
    <string>kabashkir-cy.glif</string>
    <key>kahook-cy</key>
    <string>kahook-cy.glif</string>
    <key>kastroke-cy</key>
    <string>kastroke-cy.glif</string>
    <key>kaverticalstroke-cy</key>
    <string>kaverticalstroke-cy.glif</string>
    <key>liraTurkish</key>
    <string>liraT_urkish.glif</string>
    <key>nine.dnom</key>
    <string>nine.dnom.glif</string>
    <key>nine.tosf</key>
    <string>nine.tosf.glif</string>
    <key>one.ss01</key>
    <string>one.ss01.glif</string>
    <key>one.tosf</key>
    <string>one.tosf.glif</string>
    <key>one.tosf.ss01</key>
    <string>one.tosf.ss01.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.dnom</key>
    <string>six.dnom.glif</string>
    <key>six.tosf</key>
    <string>six.tosf.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.dnom</key>
    <string>three.dnom.glif</string>
    <key>three.tosf</key>
    <string>three.tosf.glif</string>
    <key>tugrik</key>
    <string>tugrik.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.dnom</key>
    <string>two.dnom.glif</string>
    <key>two.tosf</key>
    <string>two.tosf.glif</string>
    <key>won</key>
    <string>won.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>yhook</key>
    <string>yhook.glif</string>
    <key>yusbig-cy</key>
    <string>yusbig-cy.glif</string>
    <key>ze-cy</key>
    <string>ze-cy.glif</string>
    <key>zhe-cy</key>
    <string>zhe-cy.glif</string>
  </dict>
</plist>
