<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>705</integer>
    <key>capHeight</key>
    <integer>705</integer>
    <key>copyright</key>
    <string>Copyright 2016 The Nunito Project Authors (contact@sansoxygen.com)</string>
    <key>descender</key>
    <integer>-180</integer>
    <key>familyName</key>
    <string>Nunito</string>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2019/12/16 21:50:44</string>
    <key>openTypeHheaAscender</key>
    <integer>1011</integer>
    <key>openTypeHheaDescender</key>
    <integer>-353</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Vernon Adams</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://www.sansoxygen.com</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Vernon Adams</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://www.sansoxygen.com</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1011</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-353</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2WeightClass</key>
    <integer>800</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1105</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>310</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-20</integer>
      <integer>0</integer>
      <real>490.566265060241</real>
      <real>510.566265060241</real>
      <integer>705</integer>
      <integer>725</integer>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-200</integer>
      <integer>-180</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <real>130.6144578313253</real>
      <real>131.6144578313253</real>
      <real>117.48192771084337</real>
      <real>113.54216867469879</real>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <real>155.93975903614455</real>
      <real>161.87951807228916</real>
      <integer>151</integer>
      <integer>152</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <real>-86.56626506024097</real>
    <key>postscriptUnderlineThickness</key>
    <real>49.01204819277108</real>
    <key>styleMapFamilyName</key>
    <string>Nunito ExtraBold</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>ExtraBold</string>
    <key>unitsPerEm</key>
    <real>1000.0</real>
    <key>versionMajor</key>
    <integer>2</integer>
    <key>versionMinor</key>
    <integer>505</integer>
    <key>xHeight</key>
    <real>490.566265060241</real>
  </dict>
</plist>
